<!DOCTYPE HTML>

<html>

<head>
	<title>Q-Readitt by Isaac, Tom, and Tyler</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="index.html" class="logo">
						<strong>Q-Readitt</strong> by Isaac, Tom, and Tyler</a>
					<ul class="icons">
						<li>
							<a href="#" class="icon fa-twitter">
								<span class="label">Twitter</span>
							</a>
						</li>
						<li>
							<a href="#" class="icon fa-facebook">
								<span class="label">Facebook</span>
							</a>
						</li>
						<li>
							<a href="#" class="icon fa-snapchat-ghost">
								<span class="label">Snapchat</span>
							</a>
						</li>
						<li>
							<a href="#" class="icon fa-instagram">
								<span class="label">Instagram</span>
							</a>
						</li>
						<li>
							<a href="#" class="icon fa-twitch">
								<span class="label">Medium</span>
							</a>
						</li>
					</ul>
				</header>

								<!--Body Section To Be Filled By whatever Page You are Navigating To-->
                
				{{{ body }}}
                

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				<!-- Search -->
				<section id="search" class="alt">
					<form method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Search" />
					</form>
				</section>

				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li>
							<a href="index.html">Homepage</a>
						</li>
						<li>
							<span class="opener">Topics</span>
							<ul>
								<li>
									<button class="btn btn-secondary" id="toFilm">Film & TV</button>
								</li>
								<li>
									<button class="btn btn-secondary" id="toGames">Gaming</button>
								</li>
								<li>
									<button class="btn btn-secondary" id="toArt">Art</button>
								</li>
								<li>
									<button class="btn btn-secondary" id="toSports">Sports</button>
								</li>
								<li>
									<button class="btn btn-secondary" id="toMusic">Music</button>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Linking your Twitch Account</a>
						</li>
						<li>
							<a href="#">About Us</a>
						</li>
						<li>
				</nav>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Twitch Integration</h2>
					</header>
					<div class="mini-posts">
						<article>
							<a href="#" class="image">
								<img src="images/twitch_logo.png" alt="" />
							</a>
							<p>Fully supported Twitch integration to initiate live streams with other members.</p>
						</article>
						<article>
							<a href="#" class="image">
								<img src="images/live_AMA!.png" alt="" />
							</a>
							<p>Get to know others throughout the community and across the world by being able to discuss any topic you would like.</p>
						</article>
						<article>
							<a href="#" class="image">
								<img src="images/help_us_grow.png" alt="" />
							</a>
							<p>The more questions that are asked, the bigger our community grows. Help us to become the lead Q&A platform.</p>
						</article>
					</div>
					<ul class="actions">
						<li>
							<a href="#" class="button">More</a>
						</li>
					</ul>
				</section>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Get in touch</h2>
					</header>
					<p>If you would like to know more about who we are and what we do, feel free to contact us below. We would love to help
						you out with any questions you may have.</p>
					<ul class="contact">
						<li class="fa-envelope-o">
							<a href="#">team@qreaditt.com</a>
						</li>
						<li class="fa-phone">(800) 111-8080</li>
						<li class="fa-home">UCLA Extension
							<br /> Beverly Hills, CA 00000-0000</li>
					</ul>
				</section>

			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="../../public/assets/js/jquery.min.js"></script>
	<script src="../../public/assets/js/browser.min.js"></script>
	<script src="../../public/assets/js/breakpoints.min.js"></script>
	<script src="../../public/assets/js/util.js"></script>
	<script src="../../public/assets/js/main.js"></script>

</body>

</html>