<!-- Content -->
<section>
	<header class="main">
	</header>

	<span class="image main">
		<img src="../../public/assets/images/art_logo.png" alt="" />
	</span>
	<h2>Questions</h2>
	<ul>
		{{#each questions}} {{#if category=art}} {{#unless isAnswered}} {{> threads/thread-link}} {{/unless}} {{/if}} {{/each}}
	</ul>

	<hr class="major" />

	<h2>Submit Your Own</h2>
	<!-- Break -->
	<div class="col-12">
		<textarea name="demo-message" id="demo-message" placeholder="Enter your question here" rows="6"></textarea>
	</div>
	<br>
	<!-- Break -->
	<div class="col-12">
		<ul class="actions">
			<li>
				<input type="submit" value="Submit" class="primary" />
			</li>
			<li>
				<input type="reset" value="Reset" />
			</li>
		</ul>
		<hr class="major" />

		<h2>Answered Questions</h2>
		{{ }}
</section>