<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Hi there!
                <br> I’m Q-Readitt
                <br/>
            </h1>
            <p>A free and fully responsive question and asnwer forum with livestream integration.</p>
        </header>
        <p>What we strive to do here at Q-Readitt is a little bit different than the typical internet forum. Instead of solely
            asking questions and respoding in a typical comment box, here, we allow the community to not only ask questions,
            but converse about various topics using livestream videochat via Twitch. While you can certainly answer the forum
            in the same way as others, we create a more open and communicative place for people to open up and ask serious
            questions.
        </p>
        <ul class="actions">
            <li>
                <a href="#" class="button big">Learn More</a>
            </li>
        </ul>
    </div>
    <span class="image object">
        <img src="images/q_Readitt_Logo.jpg" alt="" />
    </span>
</section>
<!-- Guide to Topics Section -->
<section>
    <header class="major">
        <h2>The Topics</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-film"></span>
            <div class="content">
                <h3>Film & TV</h3>
                <p>Whether live action or animated, this section contains all of our users' queries about the big and small
                    screens. Come pick our users' brains about the shows and movies that everyone's talking about!</p>
            </div>
        </article>
        <article>
            <span class="icon fa-gamepad"></span>
            <div class="content">
                <h3>Gaming</h3>
                <p>Here we cover all things video games, from the simplest single player comp stomps to the largest MMOs. You're
                    sure to find someone here who shares your passion for gaming!</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paint-brush"></span>
            <div class="content">
                <h3>Art</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum.
                    Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-futbol-o"></span>
            <div class="content">
                <h3>Sports</h3>
                <p>Are sports your thing? Well look no further! This section contains all of our users' burning questions about
                    the atheletic world!</p>
            </div>
        </article>
        <article>
            <span class="icon fa-music"></span>
            <div class="content">
                <h3>Music</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum.
                    Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
    </div>
</section>
<!-- Short About Us Section -->
<section>
    <header class="major">
        <h2>Our Mission</h2>
    </header>
    <div class="posts">
        <article>
            <a href="#" class="image">
                <img src="images/community_small.png" alt="" />
            </a>
            <h3>A Fantastic Place For Growth</h3>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed
                nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="actions">
                <li>
                    <a href="#" class="button">More</a>
                </li>
            </ul>
        </article>
        <article>
            <a href="#" class="image">
                <img src="images/community_2_small.png" alt="" />
            </a>
            <h3>Providing a Platform for Open and Free Conversation </h3>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed
                nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="actions">
                <li>
                    <a href="#" class="button">More</a>
                </li>
            </ul>
        </article>
    </div>
</section>
